<!--<h1> Here is a list of all the clients!</h1>-->

<!--#if ($clients)-->
<!--<ul>-->
<!--    #foreach ($client in $clients)-->
<!--    <li>-->

<!--        <p>$client.getName()</p>-->
<!--        <p>$client.getnumber()</p>-->
<!--        <p>$client.getStyle()</p>-->
<!--        #end-->
<!--    </li>-->
<!--</ul>-->
<!--#else-->
<!--<p>No Client Created!</p>-->
<!--#end-->

<!--<a href="/clients/new">Add a new client</a>-->

