
<h1 class="welcome">Welcome to the Hair Salon Application</h1>

<div class="button">
<a href="/stylists" class="btn btn-secondary">View Stylists List</a>
<a href="/stylists/new" class="btn btn-secondary">Create New Stylist</a>
</div>






