<div class="container">
    <div class="text">

<h1 class="welcome">Success!!</h1>

        <h1 class="save"> Your Stylist has been saved!! </h1><br>


<a href="/stylists" class="btn btn-success"  id="stylistButton">View Stylists List</a>


    </div>
</div>