

<div class="container">
    <div class="text">

        <h1 class="welcome">Your Client has been saved successfully!!</h1>

        <h1 class="save"> Your Stylist has been saved!! </h1><br>


        <a href="/clients" class="btn btn-success" id="stylistButton">Go Back</a>


    </div>
</div>